<a ng-click="back()" class="btn btn-info pull-right" href="javascript:">Indietro</a>
<div class="table-container">
	<h2>Nuovo cliente</h2>
	<hr>
	<form class="form-horizontal">
		<fieldset>
			<div class="form-group row">
				<label for="inputName" class="col-md-1 control-label">Nome</label>
				<div class="col-md-2">
					<input type="text" class="form-control" id="inputName" placeholder="Nome" ng-model="customer.name">
				</div>
				<label for="inputPhone" class="col-md-1 control-label">Telefono</label>
				<div class="col-md-2">
					<input type="text" class="form-control" id="inputPhone" placeholder="Telefono" ng-model="customer.phone">
				</div>
				<button class="btn btn-success" type="button" ng-click="addCustomer(customer.name, customer.phone)">aggiungi</button>
			</div>
		</fieldset>
	</form>
	<hr>
	<div class="alert alert-success" role="alert">
		<strong>Suggerimento:</strong>  Una volta inserito il nuovo cliente è possibile popolare la sua libreria direttamente dalla corrispettiva scheda
	</div>
</div>
