<div class="btn-group pull-right" role="group">
	<a ng-click="back()" class="btn btn-info" href="javascript:">Indietro</a>
</div>
<div class="table-container">
	<h2>Modifica libro</h2>
	<hr>
    <div ng-show="currBook">
        <table class="table">
		    <thead>
		        <tr>
			        <th>Materia</th>
			        <th>Titolo</th>
			        <th>Vol</th>
			        <th>Autore</th>
			        <th>Editore</th>
			        <th>ISBN</th>
			        <th nowrap>Prezzo €</th>
		        </tr>
		    </thead>
		    <tbody>
			    <tr>
			        <td>{{currBook.Materia}}</td>
			        <td>{{currBook.Titolo}}</td>
			        <td>{{currBook.Volume}}</td>
			        <td>{{currBook.Autore}}</td>
			        <td>{{currBook.Casa}}</td>
			        <td>{{currBook.Isbn}}</td>
			        <td>{{currBook.Prezzo}}</td>
			    </tr>
		    </tbody>
	    </table>
    </div>
    <form class="form-horizontal" role="form">
        <fieldset>
            <div class="form-group">
                <label for="inputTitle" class="col-md-1 control-label">Titolo</label>
                <div class="col-lg-7">
                    <input class="form-control" placeholder="Titolo" id="inputTitle" type="text" ng-model="newBook.Titolo" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 control-label" for="inputIsbn">ISBN</label>
                <div class="col-md-3">
					<input type="text" class="form-control" id="inputIsbn" ng-model="newBook.Isbn" value="{{currBook.Isbn}}" placeholder="Isbn">
				</div>
				<label class="col-md-1 control-label" for="inputVol">Volume</label>
				<div class="col-md-3">
					<input class="form-control" type="text" id="inputVol" placeholder="Numero volumi" ng-model="newBook.Volume" />
				</div>
			</div>
			<div class="form-group row">
				<label for="inputSubj" class="col-md-1 control-label">Materia</label>
				<div class="col-md-3">
					<input type="text" class="form-control" id="inputSubj" placeholder="Materia" ng-model="newBook.Materia" />
				</div>
				<label for="inputAuth" class="col-md-1 control-label">Autore</label>
				<div class="col-md-3">
					<input type="text" class="form-control" id="inputAuth" placeholder="Autore" ng-model="newBook.Autore" />
				</div>
			</div>
			<div class="form-group row">
				<label for="inputEdit" class="col-md-1 control-label">Editore</label>
				<div class="col-md-3">
					<input type="text" class="form-control" id="inputEdit" placeholder="Editore" ng-model="newBook.Casa" />
				</div>
				<label for="inputPrice" class="col-md-1 control-label">Prezzo</label>
				<div class="col-md-3">
					<input type="text" class="form-control" id="inputPrice" placeholder="Prezzo" ng-model="newBook.Prezzo" />
				</div>
			</div>
			<div class="form-group">
				<button id="confirmation" class="btn btn-success" ng-click="alterBook(newBook, currBook.id)">modifica</button>
			</div>
        </fieldset>
    </form>
    <div class="alert alert-success" id="success-alert">
		<button type="button" class="close" data-dismiss="alert">&times</button>
		<strong>Successo</strong> L'operazione di modifica è andata a buon fine!
	</div>
</div>
