<div class="table-container">
	<div class="btn-group pull-right">
		<a class="btn btn-success" href="#/addtoarchive">&#10010; Aggiungi</a>
		<!-- <button class="btn btn-warning" ng-click="getLinks()">Links</button> -->
		<button class="btn btn-info" ng-click="getTable()">&#8635; Aggiorna</button>
		<button class="btn btn-danger" ng-click="resetTable()">&#10006; Reset</button>
	</div>
	<h2>Archivio</h2>
	<input type="text" placeholder="Cerca libro | ISBN | copie | sconto" class="form-control" data-ng-model="search">
	<hr>
	<table class="table">
		<thead>
			<tr>
				<th>Materia</th>
				<th>Titolo</th>
				<th>Vol</th>
				<th>Autore</th>
				<th>Editore</th>
				<th>ISBN</th>
				<th nowrap>Prezzo €</th>
                <th></th>
                <th></th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="book in filteredBooks = (store | filter:search)">
				<td>{{book.Materia}}</td>
				<td>{{book.Titolo}}</td>
				<td>{{book.Volume}}</td>
				<td>{{book.Autore}}</td>
				<td>{{book.Casa}}</td>
				<td>{{book.Isbn}}</td>
				<td>{{book.Prezzo}}</td>
                <td><a href="#/alterbook/{{book.id}}"><i class="fa fa-pencil fa-2x"></i></a></td>
                <td><i class="fa fa-times fa-2x" ng-click="deleteBookFromStore(book.id)"></i></td>
			</tr>
		</tbody>
	</table>
	<h3 data-ng-hide="filteredBooks.length" style="text-align:center;">Nessuna corrispondenza / archivio vuoto</h3>
</div>
