<div class="table-container">
<a class="btn btn-info pull-right" href='#/addcustomer'>Aggiungi</a>
<h2>Clienti</h2>
<input type="text" placeholder="Cerca cliente | id | nome | telefono | prenotazione" class="form-control" data-ng-model="searchCustomer">
<hr>
<table class="table table-condensed">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>Telefono</th>
			<th>Rimuovi</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="customer in filteredCustomers = (customers | filter:searchCustomer)">
			<td>{{customer.id}}</td>
			<td><a href="#/showcustomer/{{customer.id}}">{{customer.Nome}}</a></td>
			<td>{{customer.Telefono}}</td>
			<td><i class="fa fa-times fa-2x" ng-click="deleteCustomer(customer.id)"></i></td>
		</tr>
	</tbody>
</table>
<h3 data-ng-hide="filteredCustomers.length" style="text-align:center;">Nessun cliente</h3>
</div>
