<div class="table-container">
	<h2>Libri</h2>
	<input type="text" placeholder="Cerca libro | ISBN | copie | sconto" class="form-control" data-ng-model="search">
	<hr>
	<table class="table">
		<thead>
			<tr>
				<th>Materia</th>
				<th>Titolo</th>
				<th>Vol</th>
				<th>Autore</th>
				<th>Editore</th>
				<th>ISBN</th>
				<th>Proprietario</th>
				<th nowrap>Prezzo €</th>
				<th nowrap>Sconto %</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="book in filteredBooks = (books | filter:search)">
				<td>{{book.Materia}}</td>
				<td>{{book.Titolo}}</td>
				<td><span ng-show="angular.IsDefined(book.Volume)">{{book.Volume}}</span></td>
				<td>{{book.Autore}}</td>
				<td>{{book.Casa}}</td>
				<td>{{book.Isbn}}</td>
				<td><a href="#/showcustomer/{{book.IdCustomer}}">{{getOwner(book.IdCustomer)}}</a></td>
				<td>{{book.Prezzo}}</td>
				<td>{{book.Discount}}</td>
			</tr>
		</tbody>
	</table>
	<h3 data-ng-hide="filteredBooks.length" style="text-align:center;">Nessuna corrispondenza / archivio vuoto</h3>
</div>
