<div class="table-container">
  <h2>Impostazioni</h2>
  <hr>
  <h5>Backup files</h5>
  <table class="table stretch">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="stat in stats">
        <td>{{stat.file}}</td>
        <td>{{stat.size}}</td>
      </tr>
    </tbody>
  </table>
  <h5>Gestione database</h5>
  <button class="btn btn-warning" ng-click="getLinks()">Links</button>
  <button class="btn btn-danger" ng-click="wipe()">&#10006; Reset completo</button>
  <h5>Opzioni ripristino</h5>
  <button class="btn btn-warning" ng-click="fullRestore()">Ripristino</button>
</div>
